@{
    ViewBag.Title = "Bevestig je e-mailadres";
}

<h2>Check je e-mail</h2>
<p>
    We hebben je een bevestigingslink gestuurd. Klik op de link in je e-mail om je account te activeren.
</p>
